.categories-container { 
    width: 95%;
    margin: 0 auto;
    min-height: 20px;
    margin-top: 2px;
    border-collapse: separate;
    border-spacing: 20px 5px;
    text-align: left;
    font-style: oblique;
    font-size: small;
    font-weight: 600;
    color: rgba(0, 0, 255, 0.685);
}
span {
    text-align: left;
    white-space: 700;
}